
  /* gallery  */
  .div{
    display: flex;
    justify-content: center;
  }
  .heading{
    color: green;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
  }
  .div img
  {
    
    margin: 10px;
    width: 40%;
    height: 300px;
    border-radius: 7%;
   
  }
  .div img{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-image: linear-gradient(-90deg, #CF77F3 0%, #009BFF 47%, #2AC9DB 100%);
  }
  /* gallery  */
  /* //netflix series */
 
  .netseries{
    display: flex;
    background-color: #dce4e9;
    /* padding: 20px; */
    padding-top: 50px;
    padding-bottom: 50px;
    
  }
  .column1,.column2{
    display: flex;
    
    align-items: center;
    
   
  }
  .cards>.card{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  }
  .card{
    border-radius: 25px;
  margin: auto;
   background-color: white;
    text-align: center;
    width: 80%;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    font-family: 'Josefin Sans', sans-serif;
  
  }
.card>img{
  width:100%;
  height: 250px;
  border-radius:25px 25px 0px 0px;
  

}
.card_category{

  color: gray;
  font-family: 'Josefin Sans', sans-serif;
font-size: large;
}
.card_info{
  margin-top: 10px;

}
a>button{
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #e30813;
  color: white;
  border: none;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;


}
a>button:hover{
  background-color: black;

}

.card:hover {
  /* height: 100%; */
  width: 100%;

  
}
@media screen and (max-width: 767px){
  .netseries{
    display: block;
    padding-bottom: 20px;
    
  }
  .card{
    margin-top: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  }
}
/* @media screen  (max-width: 992px) */
@media only screen and (min-width: 767px) and (max-width: 992px){
  .netseries{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    padding-bottom: 60px;
    
  }
  .column2{
    margin-top: 50px;

  }
  .card{
    margin-top: 20px;
    
   
  }
}
  



  /* //netflix series */